.svg-svgsprite_award {
	background: url("svg/sprite.css-70ed0569.svg") 0 99.96095275283092% no-repeat;
}

.svg-svgsprite_award-dims {
	width: 510.6px;
	height: 510.6px;
}

.svg-svgsprite_back {
	background: url("svg/sprite.css-70ed0569.svg") 48.2234940783136% 96.80285870942127% no-repeat;
}

.svg-svgsprite_back-dims {
	width: 477.18px;
	height: 477.18px;
}

.svg-svgsprite_brush {
	background: url("svg/sprite.css-70ed0569.svg") 0 0 no-repeat;
}

.svg-svgsprite_brush-dims {
	width: 512px;
	height: 512px;
}

.svg-svgsprite_close {
	background: url("svg/sprite.css-70ed0569.svg") 50% 0 no-repeat;
}

.svg-svgsprite_close-dims {
	width: 512px;
	height: 512px;
}

.svg-svgsprite_diamond {
	background: url("svg/sprite.css-70ed0569.svg") 0 50.048875855327466% no-repeat;
}

.svg-svgsprite_diamond-dims {
	width: 512px;
	height: 512px;
}

.svg-svgsprite_facebook {
	background: url("svg/sprite.css-70ed0569.svg") 42.10526315789474% 50.048875855327466% no-repeat;
}

.svg-svgsprite_facebook-dims {
	width: 320px;
	height: 512px;
}

.svg-svgsprite_paint-brush {
	background: url("svg/sprite.css-70ed0569.svg") 100% 0 no-repeat;
}

.svg-svgsprite_paint-brush-dims {
	width: 512px;
	height: 512px;
}

.svg-svgsprite_shines {
	background: url("svg/sprite.css-70ed0569.svg") 100% 50.048875855327466% no-repeat;
}

.svg-svgsprite_shines-dims {
	width: 512px;
	height: 512px;
}

.svg-svgsprite_water-drop {
	background: url("svg/sprite.css-70ed0569.svg") 85.65556711758585% 88.87345946884221% no-repeat;
}

.svg-svgsprite_water-drop-dims {
	width: 382.8px;
	height: 382.8px;
}

